# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build outputs.
/build/

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

/.idea/
/toolbox-communicationApi.iml
/LocalAPI.__MASTERPLUGIN__.state
/LocalAPI.plugin1.state
/testdb
/testdb.mv.db
/GeigerApi.__MASTERPLUGIN__.state
/GeigerApi.plugin1.state
/database
/GeigerApi.myPluginIdentifier.state
/coverage/
